
.header-content {
  display: flex;

}

.header-content-logo{
  width: 100px;
}

.mat-mdc-dialog-actions .mdc-dialog__actions .test {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footer-login-button{
  width: 210px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
